@{
    ViewData["Title"] = "Sök";
}

<h2>Sök byggnad</h2>

<form asp-controller="Home" asp-action="Locations" method="get">
    <input type="number" name="id" value="1" />
    <button type="submit">OK</button>
</form>