@{
    ViewData["Title"] = "Sök";
}
<h2>Search location</h2>

<form method="get"action="=/Home/Loctions/1">
<input type ="text" placeholder="Skriv adress eller byggnadsnamn"/>
 <button type="submit">OK</button>

</form>
